
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafbfb;
}


.navbar--ul {
  background-image: linear-gradient(230deg,
      hsl(240deg 100% 20%) 0%,
      hsl(260deg 100% 25%) 16%,
      hsl(280deg 100% 30%) 30%,
      hsl(300deg 100% 35%) 43%,
      hsl(320deg 100% 40%) 55%,
      hsl(340deg 100% 45%) 70%,
      hsl(0deg 100% 50%) 100%)
}

.login--form {
  background-image: linear-gradient(230deg,
      hsl(240deg 100% 20%) 0%,
      hsl(260deg 100% 25%) 16%,
      hsl(280deg 100% 30%) 30%,
      hsl(300deg 100% 35%) 43%,
      hsl(320deg 100% 40%) 55%,
      hsl(340deg 100% 45%) 70%,
      hsl(0deg 100% 50%) 100%)
}

.register--form {
  background-image: linear-gradient(230deg,
      hsl(240deg 100% 20%) 0%,
      hsl(260deg 100% 25%) 16%,
      hsl(280deg 100% 30%) 30%,
      hsl(300deg 100% 35%) 43%,
      hsl(320deg 100% 40%) 55%,
      hsl(340deg 100% 45%) 70%,
      hsl(0deg 100% 50%) 100%)
}

form input {
  width: -webkit-fill-available;
}

.hamburger-react {
  width: 64px !important;
  margin-left: 4px !important;
}

.user--card {
  width: 30% !important;
}
.userInfo-form{
  /* background-image: url("./icon/backgrounduserprofile.jpg"); */
}


@media screen and (max-width: 1230px) and (min-width: 400px) {
 #root{
display: flex;
flex-direction: column;
width: fit-content;
 }


 .navbar--ul {
  background-image: linear-gradient(111deg,
      hsl(240deg 100% 20%) 0%,
      hsl(260deg 100% 25%) 16%,
      hsl(280deg 100% 30%) 30%,
      hsl(300deg 100% 35%) 43%,
      hsl(320deg 100% 40%) 55%,
      hsl(340deg 100% 45%) 70%,
      hsl(0deg 100% 50%) 100%)
}



  }