@media screen and (max-width: 1230px) and (min-width: 400px) {
    .contMainDiv
    {
width: 800px;
    }
.cards--section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.user--card {
    width: 83% !important;
}

  }
