.icon-container {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container svg {
font-size: 1rem; 
margin-right: 0.1px; 
} 

.container{

width: "-webkit-fill-available";
margin: 1em;
margin-top: 50px,

}


@media screen and (max-width: 780px)  {
.container{
margin-top: 3rem;
margin-left: -10rem;
}
.fc .fc-button-primary {
font-size: 0.6rem;
padding: 0.3rem 0.8rem;
}
.fc .fc-prev-button {
font-size: 0.6rem;
padding: 0.3rem;
}

.fc .fc-prev-button .fc-icon {
font-size: 0.8rem;
}


.fc .fc-next-button {
font-size: 0.6rem;
padding: 0.3rem;
}

.fc .fc-next-button .fc-icon {
font-size: 0.8rem;
}

.fc .fc-toolbar-title {
font-size: 1.4rem;
margin-left: 11px;
margin-right: 9px;
}
.fc .fc-toolbar-chunk{
display: contents;
}

.fc .fc-view-harness{
min-width: 21rem;
}

.event-title
{
font-size: xx-small;
}


}