.hamburger-react{
  position: absolute;

}

@media screen and (max-width: 699px)  {
 
  .nav{
    position: sticky;
   

  }
  .zero {
    display: flex;
  }
  
  .ham{
    display: inline-block;
    margin-top: 0rem;
  }
}